<div class="creation">
    <button (click) = "createDriver()" class="btn btn-info">New Driver</button>
</div>
<div class="container">
    <h2 class="text-center">Driver List</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>idDriver</th>
                <th>Name</th>
                <th>Identification</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of drivers">
                <td> {{ driver.idDriver }} </td>
                <td> {{ driver.name }} </td>
                <td> {{ driver.identification }} </td>
                <td> {{ driver.phone }} </td>
                <td> {{ driver.address }} </td>
                <td>
                    <button (click) = "readDriver(driver.idDriver)" class="btn btn-info">Details</button>
                    <button (click) = "updateDriver(driver.idDriver)" class="btn btn-info">Update</button>
                    <button (click) = "deleteDriver(driver.idDriver)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>