<div class="container">
    <h2 class="text-center">Update Route</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" [(ngModel)]="route.code" name="code">
        </div>
        <div class="form-group">
            <label for="stations">Stations</label>
            <input type="text" class="form-control" id="stations" [(ngModel)]="route.stations" name="stations">
        </div>
        <button class="btn btn-success mt-2" type="submit">Update</button>
    </form>
</div>
