<div class="container">
    <h2 class="text-center">Update Route</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" [(ngModel)]="routeDTO.code" name="code">
        </div>
        <div class="form-group">
            <label for="stations">Stations</label>
            <div class="form-check" *ngFor="let station of stationsAv">
                <input
                    type="checkbox"
                    class="form-check-input"
                    [id]="station"
                    [(ngModel)]="selectedStations[station]"
                    [value]="station"
                    name="stations"
                />
                <label class="form-check-label" [for]="station">{{ station }}</label>
            </div>
        </div>
        <button class="btn btn-success mt-2" type="submit">Update</button>
    </form>
</div>
