<nav>
  <div class="navbar-title">
    <a class="navbar-brand" routerLink="">TransmiApp</a>
    <button (click)="logOut()">Log Out</button>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="assignment/all" routerLinkActive="active">Assignment List</a>
    <a class="nav-item nav-link" routerLink="bus/all" routerLinkActive="active">Bus List</a>
    <a class="nav-item nav-link" routerLink="driver/all" routerLinkActive="active">Driver List</a>
    <a class="nav-item nav-link" routerLink="route/all" routerLinkActive="active">Route List</a>
    <a class="nav-item nav-link" routerLink="schedule/all" routerLinkActive="active">Schedule List</a>
  </div>
</nav>

<router-outlet></router-outlet>
