<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
  <a class="navbar-brand" routerLink="">TransmiApp</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLinkActive="active" routerLink="users">Assignment List</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-user">Create Assignment</a>
          <a class="nav-item nav-link active" routerLinkActive="active" routerLink="users">Bus List</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-user">Create Bus</a>
          <a class="nav-item nav-link active" routerLinkActive="active" routerLink="users">Driver List</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-user">Create Driver</a>
          <a class="nav-item nav-link active" routerLinkActive="active" routerLink="users">Route List</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-user">Create Route</a>
          <a class="nav-item nav-link active" routerLinkActive="active" routerLink="users">Schedule List</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-user">Create Schedule</a>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>