<div class="container">
    <h2 class="text-center">Create Assignment</h2>
    <form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="busId">Bus ID</label>
        <select class="form-control" id="busId" [(ngModel)]="assignmentDTO.idBus" name="busId">
            <option *ngFor="let id of availableBusIds" [value]="id">{{ id }}</option>
        </select>
        </div>

      <div class="form-group">
        <label for="driverId">Driver ID</label>
        <select class="form-control" id="driverId" [(ngModel)]="assignmentDTO.idDriver" name="driverId">
          <option *ngFor="let id of availableDriverIds" [value]="id">{{ id }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="routeId">Route ID</label>
        <select class="form-control" id="routeId" [(ngModel)]="assignmentDTO.idRoute" name="routeId">
          <option *ngFor="let id of availableRouteIds" [value]="id">{{ id }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="scheduleId">Route ID</label>
        <select class="form-control" id="scheduleId" [(ngModel)]="assignmentDTO.idSchedule" name="scheduleId">
          <option *ngFor="let id of availableScheduleIds" [value]="id">{{ id }}</option>
        </select>
      </div>
  
      <button class="btn btn-success mt-2" type="submit">Submit</button>
    </form>
  </div>
  